.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    /* padding: 20px 0;
    position: relative; */
    font-family: Arial, sans-serif;
    padding-top: 3rem;

}
 .paraTxt{
    padding-bottom: 2rem;
    /* margin-left: 3rem;
    margin-right: 3rem; */

}
.footer .ftTesla a {
    color:white;
    text-decoration: none;
    margin: 1rem;
}
.paraTxt a{
    color: white;
    text-decoration: underline;

}
/* .footer a:hover {
    text-decoration: underline;
} */
.footer p {
    margin: 5px 0;
    font-size: 12px;
    padding-bottom: 14px;
    line-height: 18px;
}
.footer small {
    display: block;
    margin-top: 10px;
}